@import "_hljs";
@import "_navigation";
@import "_view";
@import "_code";
@import "_contact";

* {
  box-sizing: border-box
}

html, body, #root {
  height: 100%;
  font-family: sans-serif, "Arial", "Helvetica Neue";
}
body {
  .App {
    display: flex;
    //flex-wrap: wrap;
    flex: 1 0 auto;
    height: 100%;
    text-align: left;
  }
}

.view-wrap {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.social-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-size: 100%;
  transition: .3s;
  &:hover {
    transform: scale(1.2);
  }
  &--github {
    background-image: url("../img/icons8-github.svg");
  }
  &--medium {
    top: 67px;
    background-image: url("../img/icons8-medium-monogram.svg");
  }
}
